{
	"presets" : [
		["bbt",
			{
				"targets": {
					"browsers": ["last 2 versions", "safari >= 7"]
				},
				"react": true,
				"roots": [
					{
						"rootPathPrefix": "~", "rootPathSuffix": "source/manufactura/js"
					},
					{
						"rootPathPrefix": "@", "rootPathSuffix": "source/data"
					}
				]
			}
		]
	]
}